<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {{ site.username }}{% else %}{{ site.hometitle }}{% endif %}</title>

  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.author.name | default: site.username }}">

  <link rel="canonical" href="{{ page.url | absolute_url }}">

  <link rel="stylesheet" href="{{ '/assets/css/academicons.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}">
</head>