<meta charset="utf-8">

{% include seo.html %}

{% if site.atom_feed.path %}
  {% assign feed_path = site.atom_feed.path %}
{% else %}
  {% assign feed_path = "/feed.xml" %}
{% endif %}

<link href="{{ feed_path | relative_url }}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<link rel="stylesheet" href="{{ '/assets/css/academicmain.css' | relative_url }}">
<link rel="shortcut icon" href="{{ site.favicon | relative_url }}">

<meta http-equiv="cleartype" content="on">