<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.blogname | default: site.username }}</title>

  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.blogdescription | default: site.description }}{% endif %}">
  <meta name="author" content="{{ site.author.name | default: site.username }}">

  <link rel="canonical" href="{{ page.url | absolute_url }}">

  {% include fonts.html %}

  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/lemonchann.css' | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.blogname | default: site.username }}" href="{{ '/feed.xml' | relative_url }}">
  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}">

  {% if page.usemathjax %}
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          tags: 'ams'
        }
      };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% endif %}
</head>