<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="crf" src="{{ "/assets/img/igs_reference.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Frame Tie in the Era of Multi-wavelength Celestial Reference Frames</h3>
    <p>
      Celestial reference frames (CRFs) are fundamental to astronomy,
      geodesy, and deep-space navigation. We are now entering an era
      in which multi-frequency CRFs, realized by VLBI and <i>Gaia</i>,
      can reach microarcsecond-level accuracy, bringing both new
      opportunities and new challenges.
    </p>
    <a class="project-link" href="{{ '/projects/frame-tie/' | relative_url }}">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="3c273" src="{{ "/assets/img/1226+023.u.stacked.icn.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Frequency-dependency of extragalactic source structure </h3>
<!--    <ul>-->
<!--      <li> VLBI data analyses </li>-->
<!--    </ul>-->
    <p>
      Many extragalactic radio sources exhibit extended and variable
      structures, which can induce apparent positional shifts. These
      structure-related systematic effects have become one of the
      dominant error sources in VLBI astrometry.
    </p>
    <a class="project-link" href="{{ '/projects/source-structure/' | relative_url }}">Check it out</a>
  </div>
</div>


