<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="crf" src="{{ "/assets/img/igs_reference.jpeg" | prepend: site.baseurl }}" width="850" height="600" />
  </div>
  <div class="contents">
    <h3> Multifrequency celestial reference frame tie </h3>
<!--    <ul>-->
<!--      <li> Fundamental catalog analyses </li>-->
<!--    </ul>-->
    <p> 
    The celestial reference frame (CRF) is a cornerstone of several scientific 
    domains in the astronomy, geodesy, and deep space mission. 
    We are stepping, for the first time of modern history, 
    into an era of multi-wavelength CRF materialized by
    the VLBI and <i>Gaia</i>, with an accuracy of microarcsecond level.
    In the meantime, we are also facing new challenges.
    </p>
    <a class="project-link" href="{{ "/projects/project-postdoc-2021.html" | prepend: site.baseurl }}">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="3c273" src="{{ "/assets/img/1226+023.u.stacked.icn.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Frequency dependency of extragalactic source structure </h3>
<!--    <ul>-->
<!--      <li> VLBI data analyses </li>-->
<!--    </ul>-->
    <p>
    Most extragalactic sources are known to have an extended radio structure,
    and their structure varies, which leads to abrupt changes in their apparent positions.
    Structure-related systematics is now the major error source in the VLBI astrometry.
    </p>
    <a class="project-link" href="{{ "/projects/project-nsfc-2021.html" | prepend: site.baseurl }}">Check it out</a>
  </div>
</div>
