<!--<div class="user-details"> <h1> Publication </h1>-->
<!--</div>-->

<div class="user-publications">

  <h2>First-author and Corresponding-author Papers</h2>
  <ol>

    <!-- stellar-aberration navigation -->
    <li>
      <p> Zhang D.-D., Li M.-Z., &amp; <u>Liu N.</u>
        “<a href="https://doi.org/10.3390/universe12070197">Astrometric Systematic Errors as a Limiting Factor in Stellar-Aberration-Based Autonomous Navigation.</a>”
        <i>Universe</i> 12, 197 (2026).
      </p>
    </li>

    <!-- BL Lacertae core shift -->
    <li>
      <p> <u>Liu N.</u>, Yang J., Cheng X.-P., Zeng A.-L., Chen W. et al.
        “<a href="https://ui.adsabs.harvard.edu/abs/2026arXiv260420095L/abstract">Detections of Nearly Bias-free Core Shifts with 5–30 &mu;as Precisions at 8–43 GHz in BL Lacertae.</a>”
        <i>ApJ</i> 1003, 54 (2026).
      </p>
    </li>

    <!-- redshift-dependent astrometric properties -->
    <li>
      <p> Zhang Z.-Y., <u>Liu N.</u>, Zhang X.-X., Nurul Huda I., Guo S.-F. et al.
        “<a href="https://ui.adsabs.harvard.edu/abs/2026A%26A...708A..83Z/abstract">Astrometric properties of reference frame sources as a function of redshift.</a>”
        <i>A&amp;A</i> 708, A83 (2026).
      </p>
    </li>

    <!-- work on secular aberration drift -->
    <li>
      <p> <u>Liu N.</u>, Zhu Z., &amp; Liu J.-C.
        “<a href="https://ui.adsabs.harvard.edu/abs/2024A%26A...688L..24L/abstract">Secular aberration drift in stellar proper motions: An additional term due to the change in line-of-sight direction.</a>”
        <i>A&amp;A</i> 688, L24 (2024).
      </p>
    </li>

    <!-- work on planetary ephemeris frame systematics using timing -->
    <li>
      <p> <u>Liu N.</u>, Zhu Z., Antoniadis J., Liu J.-C., &amp; Zhang H.
        “<a href="https://ui.adsabs.harvard.edu/abs/2023A%26A...674A.187L/abstract">Systematics of planetary ephemeris reference frames inferred from pulsar timing astrometry.</a>”
        <i>A&amp;A</i> 674, A187 (2023).
      </p>
    </li>

    <!-- work on Timing/Gaia/VLBI frame tie -->
    <li>
      <p> <u>Liu N.</u>, Zhu Z., Antoniadis J., Liu J.-C., Zhang H., &amp; Jiang N.
        “<a href="https://ui.adsabs.harvard.edu/abs/2023A%26A...670A.173L/abstract">Comparison of dynamical and kinematic reference frames via pulsar positions from timing, Gaia, and interferometric astrometry.</a>”
        <i>A&amp;A</i> 670, A173 (2023).
      </p>
    </li>

    <!-- work on ICRF axis stability -->
    <li>
      <p> <u>Liu N.</u>, Lambert S. B., Arias E. F., Liu J.-C., &amp; Zhu Z.
        “<a href="https://ui.adsabs.harvard.edu/abs/2022A%26A...659A..75L/abstract">Evaluation of the ICRF stability from a position time series analysis.</a>”
        <i>A&amp;A</i> 659, A75 (2022).
      </p>
    </li>

    <!-- work on multifrequency position comparison -->
    <li>
      <p> <u>Liu N.</u>, Lambert S. B., Charlot P., Zhu Z., Liu J.-C., Jiang N., Wan X.-S., &amp; Ding C.-Y.
        “<a href="https://ui.adsabs.harvard.edu/abs/2021A%26A...652A..87L/abstract">Comparison of multifrequency positions of extragalactic sources from ICRF3 and Gaia EDR3.</a>”
        <i>A&amp;A</i> 652, A87 (2021).
      </p>
    </li>

    <!-- work on CRF comparison -->
    <li>
      <p> <u>Liu N.</u>, Lambert S. B., Zhu Z., &amp; Liu J.-C.
        “<a href="https://ui.adsabs.harvard.edu/abs/2020A%26A...634A..28L/abstract">Systematics and accuracy of VLBI astrometry: A comparison with Gaia Data Release 2.</a>”
        <i>A&amp;A</i> 634, A28 (2020).
      </p>
    </li>

    <!-- work on VLBI CRF noise -->
    <li>
      <p> <u>Liu N.</u>, Lambert S. B., &amp; Zhu Z.
        “<a href="https://ui.adsabs.harvard.edu/abs/2018A%26A...620A.160L/abstract">Determining the accuracy of VLBI radio source catalogs.</a>”
        <i>A&amp;A</i> 620, A160 (2018).
      </p>
    </li>

    <!-- work on ICRF2 error -->
    <li>
      <p> <u>Liu N.</u>, Zhu Z., &amp; Liu J.-C.
        “<a href="https://ui.adsabs.harvard.edu/abs/2018A%26A...609A..19L/abstract">Possible systematics in the VLBI catalogs as seen from Gaia.</a>”
        <i>A&amp;A</i> 609, A19 (2018).
      </p>
    </li>

    <!-- work on Gaia-CRF1 -->
    <li>
      <p> <u>Liu N.</u>, Zhu Z., Liu J.-C., &amp; Ding C.-Y.
        “<a href="https://ui.adsabs.harvard.edu/abs/2017A%26A...599A.140L/abstract">Overall properties of the Gaia DR1 reference frame.</a>”
        <i>A&amp;A</i> 599, A140 (2017).
      </p>
    </li>

    <!-- work on ICRF source selection -->
    <li>
      <p> <u>Liu N.</u>, Liu J.-C., &amp; Zhu Z.
        “<a href="https://ui.adsabs.harvard.edu/abs/2017MNRAS.466.1567L/abstract">Test of source selection for constructing a more stable and uniform celestial reference frame.</a>”
        <i>MNRAS</i> 466, 1567–1574 (2017).
      </p>
    </li>

  </ol>

  <h2>Collaborative Papers</h2>
  <ol>

    <!-- dynamical flattening -->
    <li>
      <p> Nurul Huda I., Liu J.-C., <u>Liu N.</u>, &amp; Yao J.
        “<a href="https://doi.org/10.1093/mnras/stag953">Astronomical determination of the Earth's dynamical flattening using VLBI observations and IAU 2006/2000 Precession-Nutation Model.</a>”
        <i>MNRAS</i> 549, 1--10 (2026).
      </p>
    </li>

    <!-- APSG VLBI program -->
    <li>
      <p> Nurul Huda I., Liu J.-C., <u>Liu N.</u>, Shu F., Yao J. et al.
        “<a href="https://doi.org/10.1088/1674-4527/ae400c">Contribution of APSG VLBI Program in Monitoring Radio Telescope Motion Across Asia-Pacific Region.</a>”
        <i>Res. Astron. Astrophys.</i> 26, 055005 (2026).
      </p>
    </li>

    <!-- Gaia asteroids -->
    <li>
      <p> Yao J., Liu J.-C., Liu X., <u>Liu N.</u>, Zhu Z. et al.
        “<a href="https://ui.adsabs.harvard.edu/abs/2025A%26A...701A..15Y/abstract">Comparison of the Gaia-CRF3 and planetary ephemerides via asteroid observations.</a>”
        <i>A&amp;A</i> 701, A15 (2025).
      </p>
    </li>

    <!-- CatWISE2020 frame -->
    <li>
      <p> Wang Z.-W., Liu J.-C., <u>Liu N.</u>, Zhu Z., Yao J. et al.
        “<a href="https://ui.adsabs.harvard.edu/abs/2025A%26A...704A.136W/abstract">An infrared celestial reference frame realized by the CatWISE2020 catalog.</a>”
        <i>A&amp;A</i> 704, A136 (2025).
      </p>
    </li>

    <!-- LQAC-6 -->
    <li>
      <p> Nurul Huda I., Souchay J., Barache C., Liu J.-C., <u>Liu N.</u> et al.
        “<a href="https://ui.adsabs.harvard.edu/abs/2025MNRAS.542.2389H/abstract">Statistical analysis of quasars in LQAC-6: astrometry, brightness, and redshift.</a>”
        <i>MNRAS</i> 542, 2389–2403 (2025).
      </p>
    </li>

    <!-- AllWISE frame -->
    <li>
      <p> Liu J.-C., <u>Liu N.</u>, Zhu Z., Yao J., Nurul Huda I., &amp; Wang Z.-W.
        “<a href="https://ui.adsabs.harvard.edu/abs/2024AJ....168..170L/abstract">The AllWISE Catalog as an Infrared Celestial Reference Frame in the Gaia Era.</a>”
        <i>AJ</i> 168, 170 (2024).
      </p>
    </li>

    <!-- CSST frame -->
    <li>
      <p> Yao J., Liu J.-C., <u>Liu N.</u>, Zhu Z., &amp; Wang Z.-W.
        “<a href="https://ui.adsabs.harvard.edu/abs/2024RAA....24h5011Y/abstract">The Astrometric Performance of the China Space Station Telescope (CSST) Sky Survey in Extending the Gaia Celestial Reference Frame.</a>”
        <i>Res. Astron. Astrophys.</i> 24, 085011 (2024).
      </p>
    </li>

    <!-- radio stars for VLBI-Gaia frame tie -->
    <li>
      <p> Zhang J.-D., Zhang B., Xu S.-J., <u>Liu N.</u>, Chen W. et al.
        “<a href="https://ui.adsabs.harvard.edu/abs/2024MNRAS.529.2062Z/abstract">VLBI astrometry of radio stars to link radio and optical celestial reference frames: observing strategies.</a>”
        <i>MNRAS</i> 529, 2062–2070 (2024).
      </p>
    </li>

    <!-- work from Yao -->
    <li>
      <p> Yao J., Liu J.-C., <u>Liu N.</u>, Malkin Z., Zhu Z., Nurul Huda I., &amp; Lambert S. B.
        “<a href="https://ui.adsabs.harvard.edu/abs/2022A%26A...665A.121Y/abstract">Effect of Galactic aberration on Earth orientation parameters: From the ICRF2 to the ICRF3.</a>”
        <i>A&amp;A</i> 665, A121 (2022).
      </p>
    </li>

    <!-- work from Tan -->
    <li>
      <p> Tan D.-J., Liu J.-C., Zhu Z., &amp; <u>Liu N.</u>
        “<a href="https://ui.adsabs.harvard.edu/abs/2022RAA....22b5008T/abstract">Evaluating the Impact of Optical Axis Stability on Exoplanet Detection.</a>”
        <i>Res. Astron. Astrophys.</i> 22, 025008 (2022).
      </p>
    </li>

    <!-- work from Ibnu -->
    <li>
      <p> Huda I., Hidayat T., Dermawan B., Lambert S., <u>Liu N.</u> et al.
        “<a href="https://ui.adsabs.harvard.edu/abs/2021ExA....52..141H/abstract">Measuring the impact of Indonesian antennas on global geodetic VLBI network.</a>”
        <i>Exp. Astron.</i> 52, 141–155 (2021).
      </p>
    </li>

    <!-- work from Sebastien -->
    <li>
      <p> Lambert S. B., <u>Liu N.</u>, Arias E. F., Barache C., Souchay J., Taris F., Liu J.-C., &amp; Zhu Z.
        “<a href="https://ui.adsabs.harvard.edu/abs/2021A%26A...651A..64L/abstract">Parsec-scale alignments of radio-optical offsets with jets in AGNs from multifrequency geodetic VLBI, Gaia EDR3, and the MOJAVE program.</a>”
        <i>A&amp;A</i> 651, A64 (2021).
      </p>
    </li>

    <!-- work from Ding -->
    <li>
      <p> Ding C.-Y., Zhu Z., Liu J.-C., &amp; <u>Liu N.</u>
        “<a href="https://ui.adsabs.harvard.edu/abs/2020A%26A...635A.113D/abstract">Revisiting astrometric parameters of quasars in Gaia-CRF2.</a>”
        <i>A&amp;A</i> 635, A113 (2020).
      </p>
    </li>

    <!-- work from Jia-Cheng Liu -->
    <li>
      <p> Liu J.-C., &amp; <u>Liu N.</u>
        “<a href="https://ui.adsabs.harvard.edu/abs/2020AcASn..61...10L/abstract">The Galactic Aberration and Its Impact on Astronomical Reference Frames.</a>”
        <i>ChA&amp;A</i> 44, 131–145 (2020).
      </p>
    </li>

    <!-- work from Xiaonizi -->
    <li>
      <p> Shi Y.-Y., Zhu Z., <u>Liu N.</u>, Liu J.-C., Ding C.-Y., &amp; Cheng Y.-T.
        “<a href="https://ui.adsabs.harvard.edu/abs/2019AJ....157..222S/abstract">Comparison of the PPMXL and UCAC5 Catalogs with the Gaia DR2.</a>”
        <i>AJ</i> 157, 222 (2019).
      </p>
    </li>

    <!-- work from JCLiu -->
    <li>
      <p> Liu J.-C., Zhu Z., &amp; <u>Liu N.</u>
        “<a href="https://ui.adsabs.harvard.edu/abs/2018AJ....156...13L/abstract">Link between the VLBI and Gaia Reference Frames.</a>”
        <i>AJ</i> 156, 13 (2018).
      </p>
    </li>

  </ol>

  <h2>Proceedings</h2>
  <ol>

    <!-- IVSGM-2022 -->
    <li>
      <p> <u>Liu N.</u>, Lambert S. B., Arias E. F., Liu J.-C., &amp; Zhu Z.
        “<a href="https://ui.adsabs.harvard.edu/abs/2023ivs..conf..298L/abstract">Evaluate the ICRF3 Axes’ Stability via Extragalactic Source Position Time Series.</a>”
        <i>IVS 2022 General Meeting Proceedings</i>, pp. 298–302 (2023).
      </p>
    </li>

    <!-- IVSGM-2022-Xu -->
    <li>
      <p> Xu M.-H., Savolainen T., <u>Liu N.</u>, de Witt A., Lunz S., Heinkelmann R., &amp; Schuh H.
        “<a href="https://ui.adsabs.harvard.edu/abs/2023ivs..conf..306X/abstract">Astrometric Positions of Gravitational Lensed System 1422+231.</a>”
        <i>IVS 2022 General Meeting Proceedings</i>, pp. 306–310 (2023).
      </p>
    </li>

    <!-- Journees 2019 -->
    <li>
      <p> <u>Liu N.</u>, Lambert S. B., Zhu Z., &amp; Liu J.-C.
        “<a href="https://ui.adsabs.harvard.edu/abs/2020jsrs.conf....9L/abstract">Is there an interest in bringing Gaia-CRF into VLBI data reduction?</a>”
        <i>Proceedings of the Journées 2019 “Astrometry, Earth Rotation, and Reference Systems in the Gaia era”</i>,
        pp. 9–14 (2019).
      </p>
    </li>

    <!-- IVSGM-2018-Mayer -->
    <li>
      <p> Mayer D., Lambert S. B., Bohm J., Krasna H., &amp; <u>Liu N.</u>
        “<a href="https://ui.adsabs.harvard.edu/abs/2019ivs..conf..169M/abstract">The Effect of Galactic Aberration on the CRF.</a>”
        <i>IVS 2018 General Meeting Proceedings: “Global Geodesy and the Role of VGOS — Fundamental to Sustainable Development”</i>,
        pp. 169–173 (2019).
      </p>
    </li>

    <!-- IVSGM-2018-Lambert -->
    <li>
      <p> Lambert S. B., Nurul Huda I., Ziegler Y., Richard J.-Y., <u>Liu N.</u>, Gattano C., Rosat S., &amp; Bizouard C.
        “<a href="https://ui.adsabs.harvard.edu/abs/2019ivs..conf..204L/abstract">Measurement of Earth's Nutation by VLBI: Direct Estimates from VLBI Delays and a Discussion on the Error.</a>”
        <i>IVS 2018 General Meeting Proceedings: “Global Geodesy and the Role of VGOS — Fundamental to Sustainable Development”</i>,
        pp. 204–208 (2019).
      </p>
    </li>

  </ol>

</div>