<!--<div class="user-details"> <h1> Publication </h1>-->
<!--</div>-->
<div class="user-publications">
  <h2>First-author / Corresponding-Author </h2>
  <ol>
    <!-- work on planetary ephemeris frame systematics using timing -->
    <li>
      <p> <u>Liu N.</u>, Zhu Z., Antoniadis J., Liu J. -C., &amp; Zhang H.
       “<a href="{{ "/files/paper/aa45808-22.pdf" | prepend: site.baseurl | prepend: site.url }}">
           Systematics of planetary ephemeris reference frames inferred from pulsar timing astrometry.</a>”
        <i>A&amp;A</i> 674, A187 (2023).
      </p>
    </li>
    <!-- work on Timing/Gaia/VLBI frame tie -->
    <li>
      <p> <u>Liu N.</u>, Zhu Z., Antoniadis J., Liu J. -C., Zhang H., &amp; Jiang N.
       “<a href="{{ "/files/paper/aa43614-22.pdf" | prepend: site.baseurl | prepend: site.url }}">
          Comparison of dynamical and kinematic reference frames via pulsar positions from timing, Gaia, and interferometric astrometryi.</a>”
        <i>A&amp;A</i> 670 A173 (2023).
      </p>
    </li>
    <!-- work on ICRF axis stability -->
    <li>
      <p> <u>Liu N.</u>,
        Lambert S. B., Arias E. F., Liu J. -C., &amp; Zhu Z.
        “<a href="{{ "/files/paper/aa42632-21.pdf" | prepend: site.baseurl | prepend: site.url }}">Evaluation of the
          ICRF stability from a position time series analysis.</a>”
        <i>A&amp;A</i> 659, A75 (2022).
      </p>
    </li>
    <!-- work on multifrequency position comparison -->
    <li>
      <p> <u>Liu N.</u>,
        Lambert S. B., Charlot P., Zhu Z., Liu J. -C., Jiang N., Wan X. -S., &amp; Ding C. -Y.
        “<a href="{{ "/files/paper/aa38179-20.pdf" | prepend: site.baseurl | prepend: site.url }}">Comparison of
          multifrequency positions of extragalactic sources from ICRF3 and Gaia EDR3.</a>”
        <i>A&amp;A</i> 652, A87 (2021).
      </p>
    </li>
    <!-- work on CRF comparison -->
    <li>
      <p> <u>Liu N.</u>,
        Lambert S. B., Zhu Z., &amp; Liu J. -C.
        “<a href="{{ "/files/paper/aa36996-19.pdf" | prepend: site.baseurl | prepend: site.url }}">Systematics and
          accuracy of VLBI astrometry: A comparison with Gaia Data Release 2.</a>”
        <i>A&amp;A</i> 634, A28 (2020).
      </p>
    </li>
    <!-- work on VLBI CRF noise -->
    <li>
      <p> <u>Liu N.</u>, Lambert S. B., &amp; Zhu Z.
        “<a href="{{ "/files/paper/aa34118-18.pdf" | prepend: site.baseurl | prepend: site.url }}">
          Determining the accuracy of VLBI radio source catalogs.</a>”
        <i>A&amp;A</i> 620, A160 (2018).
      </p>
    </li>
    <!-- work on ICRF2 error -->
    <li>
      <p> <u>Liu N.</u>, Zhu Z., &amp; Liu J.-C.
        “<a href="{{ "/files/paper/aa32006-17.pdf" | prepend: site.baseurl | prepend: site.url }}">Possible systematics
          in the VLBI catalogs as seen from Gaia.</a>”
        <i>A&amp;A</i> 609, A19 (2018).
      </p>
    </li>
    <!-- work on Gaia-CRF1 -->
    <li>
      <p> <u>Liu N.</u>, Zhu Z., Liu J.-C., &amp; Ding C.-Y.
        “<a href="{{ "/files/paper/aa30396-17.pdf" | prepend: site.baseurl | prepend: site.url }}">Overall properties of
          the Gaia DR1 reference frame.</a>”
        <i>A&amp;A</i> 599, A140 (2017).
      </p>
    </li>
    <!-- work on ICRF source selection -->
    <li>
      <p> <u>Liu N.</u>, Liu J.-C., &amp; Zhu Z.
        “<a href="{{ "/files/paper/mnras2017.pdf" | prepend: site.baseurl | prepend: site.url }}">Test of source
          selection for constructing a more stable and uniform celestial reference frame.</a>”
        <i>MNRAS</i> 599, A140 (2017).
      </p>
    </li>
  </ol>
  <h2>Collaboration </h2>
  <ol>
    <!-- Chinese review from Jiang-->
    <li>
      <p> 姜男, 刘佳成, 朱紫, <u>刘牛</u>, 
        “<a href="http://center.shao.ac.cn/twxjz/abstract/2023/20230204.pdf">第三代国际天球参考架.</a>”
        <i>天文学进展</i>,2023年6月第41卷第2期.
      </p>
    </li>
    <!-- work from Yao -->
    <li>
      <p> Yao J., Liu J. -C., <u>Liu N.</u>, Malkin Z., Zhu Z., Nural Huda I., &amp; Lambert, S. B.
        “<a href="{{ "/files/paper/aa43852-22.pdf" | prepend: site.baseurl | prepend: site.url }}">Effect of Galactic
          aberration on Earth orientation parameters: From the ICRF2 to the ICRF3.</a>”
        <i>A&amp;A</i> 665, A121 (2022).
      </p>
    </li>
    <!-- work from Tan -->
    <li>
      <p> Tan D. -J., Liu J. -C., Zhu Z., &amp; <u>Liu N.</u>
        “<a href="{{ "/files/paper/Tan2021.pdf" | prepend: site.baseurl | prepend: site.url }}">Evaluating the Impact of
          Optical Axis Stability on Exoplanet Detection.</a>”
        <i>Res. Astron. Astrophys</i> 22:025008 (2022).
      </p>
    </li>
    <!-- work from Ibnu -->
    <li>
      <p>
        Huda I., Hidayat T., Dermawan B., Lambert S., <u>Liu N.</u>, Leon S., Fujisawa K., Yonekura Y., Sugiyama K.,
        Hirota T., Premadi P., Breton R., Minh Y.-C., Jaroenjittichai P., Wijaya D., Pradipta D., Putri N,, Ramadhan S.,
        Puspitarini L., Wulandari H., &amp; Hafieduddin M.
        “<a href="{{ "/files/paper/s10686-021-09773-1.pdf" | prepend: site.baseurl | prepend: site.url }}">Measuring the
          impact of Indonesian antennas on global geodetic VLBI network.</a>”
        <i>Exp Astron</i> 52, 141–155 (2021).
      </p>
    </li>
    <!-- work from Sebastien -->
    <li>
      <p>
        Lambert S.B., <u>Liu N.</u>, Arias E. F., Barache C., Souchay J., Taris F., Liu J.-C., &amp; Zhu Z.
        “<a href="{{ "/files/paper/aa40652-21.pdf" | prepend: site.baseurl | prepend: site.url }}">Parsec-scale
          alignments of radio-optical offsets with jets in AGNs from multifrequency geodetic VLBI, Gaia EDR3, and the
          MOJAVE program.</a>”
        <i>A&amp;A</i> 651, A64 (2021).
      </p>
    </li>
    <!-- work from Ding -->
    <li>
      <p>
        Ding C. -Y., Zhu Z., Liu J. -C., &amp; <u>Liu N.</u>
        “<a href="{{ "/files/paper/aa37416-19.pdf" | prepend: site.baseurl | prepend: site.url }}">Revisiting
          astrometric parameters of quasars in Gaia-CRF2.</a>”
        <i>A&amp;A</i> 635, A113 (2020).
      </p>
    </li>
    <!-- work from Jia-Cheng Liu -->
    <li>
      <p> Liu J. -C., &amp; <u>Liu N.</u>
        “<a href="{{ "/files/paper/ga-EN.pdf" | prepend: site.baseurl | prepend: site.url }}">The Galactic Aberration
          and Its Impact on Astronomical Reference Frames.</a>”
        <i>ChA&amp;A</i> 44, 131-145 (2020).
      </p>
    </li>
    <!-- work from Jia-Cheng Liu -->
    <li>
      <p> 刘佳成, <u>刘牛</u>
        “<a href="{{ "/files/paper/ga-CN.pdf" | prepend: site.baseurl | prepend: site.url }}">
          银河系光行差及其对天文参考架的影响.</a>”
        <i>天文学报</i>, 第61卷第1期(2020).
      </p>
    </li>
    <!-- work from Xiaonizi -->
    <li>
      <p> Shi Y. -Y., Zhu Z., <u>Liu N.</u>, Liu J. -C., Ding C. -Y., &amp; Cheng Y. -T.
        “<a href="{{ "/files/paper/Shi_2019_AJ_157_222.pdf" | prepend: site.baseurl | prepend: site.url }}">
          Comparison of the PPMXL and UCAC5 Catalogs with the Gaia DR2.</a>”
        <i>AJ</i> 157:222 (2019).
      </p>
    </li>
    <!-- work from JCLiu -->
    <li>
      <p> Liu J. -C., Zhu Z., &amp; <u>Liu N.</u>
        “<a href="{{ "/files/paper/aj2018.pdf" | prepend: site.baseurl | prepend: site.url }}">Link between the VLBI and
          Gaia Reference Frames.</a>”
        <i>AJ</i> 156:13 (2018).
      </p>
    </li>
  </ol>
  <h2>Proceedings</h2>
  <ol>
    <!-- IVSGM-2022 -->
    <li>
      <p><u>Liu N.</u>, Lambert S.B., Arias E. F., Liu J. -C., &amp; Zhu Z.
        “<a href="{{ "/files/paper/ivsgm2022_liu_etal.pdf" | prepend: site.baseurl | prepend: site.url
          }}">Evaluate the ICRF3 Axes’ Stability via Extragalactic Source Position Time Series.</a>”
        <i>IVS 2022 General Meeting Proceedings</i>, pp. 298-302 (2023).
      </p>
    </li>
    <!-- Journees 2019 -->
    <li>
      <p> <u>Liu N.</u>, Lambert S.B., Zhu Z., &amp; Liu J. -C.
        “<a href="{{ "/files/paper/JOURNEES2019.pdf" | prepend: site.baseurl | prepend: site.url }}">Is there an
          interest in bringing Gaia-CRF into VLBI data reduction?</a>”
        <i>Proceedings of the Journées 2019 "Astrometry, Earth Rotation, and Reference Systems in the GAIA era" </i>,
        pp. 9-14 (2019).
      </p>
    </li>
    <!-- IVSGM-2018-Mayer -->
    <li>
      <p>Mayer D., Lambert S.B., Bohm J., Krasna H., &amp; <u>Liu N.</u>
        “<a href="{{ "/files/paper/ivsgm2018_mayer_etal.pdf" | prepend: site.baseurl | prepend: site.url }}">The Effect
          of Galactic Aberration on the CRF.</a>”
        <i>IVS 2018 General Meeting Proceedings: "Global Geodesy and the Role of VGOS - Fundamental to Sustainable
          Development"</i>, pp. 169-173 (2019).
      </p>
    </li>
    <!-- IVSGM-2018-Lambert -->
    <li>
      <p>Lambert S.B., Nurul-Huda I., Ziegler Y., Richard J.-Y., <u>Liu N.</u>, Gattano C., Rosat S., &amp; Bizouard C.
        “<a href="{{ "/files/paper/ivsgm2018_lambert_etal.pdf" | prepend: site.baseurl | prepend: site.url
          }}">Measurement of Earth's Nutation by VLBI: Direct Estimates from VLBI Delays and a Discussion on the
          Error.</a>”
        <i>IVS 2018 General Meeting Proceedings: "Global Geodesy and the Role of VGOS - Fundamental to Sustainable
          Development"</i>, pp. 204-208 (2019).
      </p>
    </li>
  </ol>
</div>

