---
layout: default-lemonchann
---

<article class="posts">
  <h1>{{ page.title }}</h1>

  <div class="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    {% if page.tags %}
      <ul class="tag">
        {% for tag in page.tags %}
          <li>
            <a href="{{ '/tags/' | append: '#' | append: tag | relative_url }}">
              {{ tag }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="entry">
    {{ content }}
  </div>
</article>

<div class="pagination">
  {% if page.previous.url %}
    <span class="prev">
      <a href="{{ page.previous.url | relative_url }}">
        ← 上一篇
      </a>
    </span>
  {% endif %}

  {% if page.next.url %}
    <span class="next">
      <a href="{{ page.next.url | relative_url }}">
        下一篇 →
      </a>
    </span>
  {% endif %}
</div>